* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: satoshi-variable;
  src: url("Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf") format("truetype");
}

body {
  width: 100vw;
  font-family: "satoshi-variable", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-navbar {
  background-image: url('./images/Rectangle\ 85.svg');

  /* background-repeat: no-repeat; */
  list-style: none;
  color: #f1f9ff;
  height: 48px;
  gap: 8px;
  top: 0;
  left: 0;
}

.first-new {
  margin-right: 16px;
  width: 70px;
  height: 24px;
  gap: 5px;
  font-weight: 700;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.16);
  mix-blend-mode: normal;
  padding: 2px 8px;
  -webkit-backdrop-filter: blur(36px);
  border-radius: 16px;
}

.bookDemo {
  color: #95caf7;
  text-decoration: none;
}

.paragraph-topNavbar,
.anchor,
.nav-links > li,
.sign-in,
.bookDemo,
.btn-getStarted {
  font-weight: 600;
  font-size: 14px;
}

.anchor {
  color: #fff;
}

.close-button {
  padding-left: 20px;
}

.second-navbar {
  background-color: #060511;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.nav-links {
  color: #fff;
  gap: 35px;
  list-style: none;
}

.little-fire {
  position: absolute;
  left: 76px;
}

.project-logo {
  padding-right: 60px;
  gap: 4px;
}

.project-text {
  padding-left: 15px;
}

.sign-in {
  text-decoration: none;
  color: #fff;
}

.wrap-bookDemo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.rightSide-navbar {
  padding-left: 50px;
  gap: 30px;
}

.wrap-inputForm {
  width: 335px;
  height: 45px;
  margin-left: 30px;
  gap: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
}

.inputForm {
  width: 165px;
  height: 20px;
  background-color: #060511;
  border: none;
  outline: none;
  color: #fff;
}

.input--form::placeholder {
  font-weight: 600;
  font-size: 14px;
}

.btn-getStarted {
  background: #0560fc;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  width: 110px;
  height: 35px;
  color: #fff;
  padding: 6px 14px;
  border: 1px solid #0560fc;
  cursor: pointer;
  font-weight: 600;
  font-family: satoshi-variable, sans-serif;
}

.thirdNav {
  width: 100;
  height: 56px;
  gap: 17px;
  cursor: pointer;
  justify-content: flex-start;
  padding-left: 75px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  background: linear-gradient(0.25turn, #0b0f27, #070512, #070512, #070512, #070512, #100929, #0e529e);
}

.paragraph-topNavbar {
  color: #fff;
  font-family: "satoshi-variable", sans-serif;
}

.hero {
  background-color: #060511;
  height: 560px;
}

.middle-heading {
  padding-right: 120px;
}

.first-heading {
  width: 950px;
  height: 180px;
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: -0.02em;
  color: #fff;
}

.neon1 {
  position: relative;
  left: 220px;
  top: -46px;
}

.neon2 {
  position: relative;
  left: -240px;
  top: -1px;
}

.paragraph-section {
  width: 846px;
  padding-top: 35px;
  height: 56px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #919196;
}

.hero-end {
  padding-top: 85px;
  justify-content: flex-start;
  gap: 18px;
}

.text-by {
  color: rgba(255, 255, 255, 0.48);
  font-weight: 700;
  font-size: 14px;
}

.btns-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: -42px;
  top: 21px;
}

.btn-social {
  width: 48px;
  padding: 14px 14px 24px 14px;
  height: 48px;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px);
  border-radius: 8px;
}

.intro-section {
  background-color: #fff;
}

.rightSide-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 452px;
  background: #fff;
  box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 12px;
  position: relative;
  left: 280px;
  top: -280px;
}

.rightSideImg-hidden {
  position: relative;
  left: -386px;
}

.meetingImg {
  border-top-left-radius: 12px;
}

.closeBtn-icon {
  position: relative;
  background: #101828;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 16px;
  left: 381px;
  top: -5px;
  padding: 5px;
  cursor: pointer;
}

.secondary--heading {
  color: #101828;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.meeting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
}

.meeting-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  padding-bottom: 12px;
}

.schedule-btn,
.startFree-btn {
  padding: 10px 16px;
  width: 352px;
  height: 40px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.first--btn {
  background: #0560fc;
  border: 1px solid #0560fc;
  color: #fff;
  font-weight: 700;
}

.first--btn:hover {
  background-color: #0556e3;
}

.second--btn {
  background: #fff;
  border: 1px solid #d0d5dd;
  color: #344054;
  font-weight: 600;
}

.second--btn:hover {
  background-color: #e6e6e6;
}

.leftSide-img {
  border-radius: 12px;
  margin-top: 45px;
  padding-right: 410px;
}

.dashboard-img {
  border-radius: 12px;
  background: #f2f4f7;
  padding: 64px 80px;
}

.paragraphs-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
  margin-bottom: 30px;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.normal-p {
  width: 1010px;
  font-weight: 425;
  font-size: 18px;
  line-height: 28px;
  display: inline;
  color: rgba(0, 0, 0, 0.72);
}

.bold-p {
  font-weight: 700;
  color: #101828;
  width: 1025px;
  display: inline;
}

.links-explore {
  padding: 15px 30px;
}

.links-explore > li > a {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #0560fc;
  text-decoration-line: underline;
}

.links-explore > li > a:hover {
  background-color: #b1d3f1;
}

.links-explore > li {
  color: #0560fc;
}

.platforms-section {
  flex-direction: column;
  background-color: #f8fafc;
  padding-left: 200px;
  gap: 24px;
  width: 100vw;
  align-items: flex-start;
  margin-bottom: 170px;
  padding-top: 90px;
}

.tertiary-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
  width: 846px;
  height: 120px;
  color: #101828;
}

.cards {
  overflow-x: scroll;
}

.wrap--cards {
  margin-bottom: 50px;
  gap: 24px;
  width: 80vw;
  padding-left: 150px;
}

.cards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #eaecf0;
}

.cards::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  margin-top: 150px;
}

.cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #101828;
}

.p-cards {
  font-weight: 425;
  font-size: 18px;
  color: #475467;
  padding-top: 8px;
}

.card {
  width: 384px;
  height: 456px;
  padding: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.first-card {
  background: #0560fc;
  margin-left: 350px;
}

.second-card {
  background: #039855;
}

.third-card {
  background: #1570ef;
}

.fourth-card {
  background: #444ce7;
}

.card-logo {
  gap: 1px;
  padding-bottom: 36px;
}

.card-content {
  width: 336px;
  height: 314px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  padding: 32px 24px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-name {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.card-para {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.learnMore-div {
  gap: 13px;
}

.learnMore-div > span {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.projectText-card {
  height: 28px;
}

.little--fire_card {
  position: relative;
  left: -21px;
}

.zendesk-icon1 {
  position: relative;
  top: -15px;
}

.zendesk-icon2 {
  position: relative;
  top: -7px;
  left: 2px;
}

.zendesk-icon3 {
  position: relative;
  left: -46px;
  top: 2px;
}

.zendesk-icon4 {
  position: relative;
  left: -43px;
  top: 9px;
}

.zendesk-text {
  position: relative;
  left: -32px;
}

.con-icon1 {
  position: relative;
  top: -11px;
  left: 12px;
}

.con-icon2 {
  position: relative;
  left: -29px;
  top: 8px;
}

.hub-icon {
  position: relative;
  left: -39px;
  top: -2px;
}

.menu {
  display: none;
}

.exit {
  display: none;
}

.closebtn {
  cursor: pointer;
}

.display-hidden {
  display: none;
}

.menu-nav {
  display: none;
}

@media screen and (min-width: 2350px) {
  .platforms-section {
    padding-left: 870px;
  }

  .little-fire {
    position: absolute;
    left: 760px;
  }

  .thirdNav {
    padding-left: 755px;
  }

  .wrap--cards {
    margin-left: 0;
  }

  .cards {
    overflow-x: hidden;
    width: 2180px;
    margin-left: -541px;
  }
}

@media screen and (max-width: 750px) {
  .top-navbar {
    height: 67px;
    padding: 23px;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .main-nav-active {
    transform: translateX(0%) !important;
  }

  .rightSide-img {
    width: 532px;
    left: 275px;
    top: -471px;
    height: 453px;
    padding-right: 20px;
  }

  .closeBtn-icon {
    left: 319px;
  }

  .neon1 {
    display: none;
  }

  .meetingImg,
  .meeting-text {
    width: 315px;
  }

  .schedule-btn,
  .startFree-btn {
    width: 290px;
    padding-left: 0;
  }

  .rightSideImg-hidden {
    left: -420px;
  }

  .exit {
    width: 23px;
    height: 26px;
    position: relative;
    left: 276px;
    top: 26px;
    display: block;
    cursor: pointer;
  }

  .menu {
    width: 45px;
    opacity: 0.6;
    display: block;
    cursor: pointer;
    position: relative;
    left: 362px;
    top: -11px;
    height: 37px;
  }

  .second-navbar {
    flex-direction: column;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: #0b0f27;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 10;
    backdrop-filter: blur(10px);
  }

  .helpjuice-logo {
    display: none;
  }

  .second-navbar li {
    font-size: 22px;
    font-weight: 600;
    color: var(--gray);
    margin-bottom: 5px;
  }

  .nav-links {
    flex-direction: column;
    margin: 50px;
  }

  .intro-section {
    margin-left: 56px;
  }

  .rightSide-navbar {
    flex-direction: column;
    gap: 16px;
    padding: 20px;
  }

  .vertical-line {
    display: none;
  }

  .menu-nav {
    width: 310px;
    height: 50px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
  }

  .thirdNav {
    padding-left: 18px;
  }

  .inputForm {
    background-color: #0b0f27;
    border: none;
  }

  .hero {
    flex-direction: column;
    align-items: flex-start;
    padding: 74px;
  }

  .middle-heading {
    width: 250px;
  }

  .first-heading {
    width: 512px;
    height: 174px;
    font-size: 41px;
    font-weight: 600;
    line-height: 52px;
  }

  .paragraph-section {
    font-size: 19px;
    width: 356px;
    height: 80px;
    line-height: 29px;
    padding-top: 5px;
  }

  .neon2 {
    display: none;
  }

  .btns-social {
    flex-direction: row;
    top: 7px;
    left: 4px;
    padding-top: 20px;
  }

  .hero-end {
    width: 354px;
    gap: 12px;
  }

  .paragraph-topNavbar {
    font-size: 12px;
    font-weight: 500;
  }

  .navbar {
    background-color: #070512;
  }

  .dashboard-img {
    width: 550px;
    height: 317px;
    margin: 8px;
    padding: 0;
  }

  .paragraphs-section {
    align-items: center;
  }

  .paragraphs {
    padding-right: 370px;
  }

  .normal-p {
    width: 541px;
    font-size: 16px;
  }

  .links-explore {
    width: 503px;
  }

  .platforms-section {
    padding-left: 25px;
  }

  .tertiary-heading {
    width: 454px;
    height: 144px;
    font-size: 35px;
    font-weight: 800;
    line-height: 48px;
  }

  .wrap--cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    padding-left: 0;
    gap: 2;
  }

  .first-card {
    margin-left: 0;
  }

  .card {
    width: 290px;
    padding: 12px;
    height: 435px;
  }

  .card-content {
    width: 270px;
    padding: 7px;
  }
}

@media screen and (max-width: 490px) {
  .top-navbar {
    height: 67px;
    padding: 23px;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .main-nav-active {
    transform: translateX(0%) !important;
  }

  .rightSide-img {
    width: 350px;
    left: 409px;
    top: -619px;
    height: 473px;
    padding-right: 10px;
  }

  .closeBtn-icon {
    left: 297px;
  }

  .meetingImg,
  .meeting-text {
    width: 315px;
  }

  .schedule-btn,
  .startFree-btn {
    width: 290px;
    padding-left: 0;
  }

  .rightSideImg-hidden {
    left: -420px;
  }

  .exit {
    width: 23px;
    height: 26px;
    position: relative;
    left: 188px;
    top: 26px;
    display: block;
    cursor: pointer;
  }

  .menu {
    width: 45px;
    opacity: 0.6;
    display: block;
    cursor: pointer;
    position: relative;
    left: 149px;
    top: 0;
    top: -7px;
    height: 37px;
  }

  .second-navbar {
    flex-direction: column;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: #0b0f27;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 10;
    backdrop-filter: blur(10px);
  }

  .helpjuice-logo {
    display: none;
  }

  .second-navbar li {
    font-size: 22px;
    font-weight: 600;
    color: var(--gray);
    margin-bottom: 5px;
  }

  .nav-links {
    flex-direction: column;
    margin: 50px;
  }

  .intro-section {
    margin-left: 56px;
  }

  .rightSide-navbar {
    flex-direction: column;
    gap: 16px;
    padding: 20px;
  }

  .vertical-line {
    display: none;
  }

  .menu-nav {
    width: 310px;
    height: 50px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
  }

  .thirdNav {
    padding-left: 18px;
  }

  .hero {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .middle-heading {
    width: 250px;
  }

  .first-heading {
    width: 387px;
    height: 127px;
    font-size: 21px;
    font-weight: 500;
    line-height: 37px;
  }

  .paragraph-section {
    font-size: 15px;
    width: 260px;
    height: 80px;
    line-height: 21px;
    padding-top: 5px;
  }

  .neon2 {
    display: none;
  }

  .dashboard-img {
    width: 550px;
    height: 317px;
    padding: 20px;
    margin: 8px;
  }

  .normal-p {
    width: 347px;
    font-size: 16px;
  }

  .links-explore {
    width: 352px;
  }

  .platforms-section {
    padding-left: 25px;
  }

  .tertiary-heading {
    width: 380px;
    height: 127px;
    font-size: 21px;
    font-weight: 700;
    line-height: 35px;
  }

  .wrap--cards {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 0;
  }
}
